<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('<%= image_path "Banner6.png" %>');">
  <div class="container d-flex align-items-center flex-column">
    <h1>Hi <%= current_user.first_name %>!</h1>
    <p class="dropdown_sentence">
      <span id="banner-typed-text"></span>
    </p>
    <div class="d-flex">
      <%= link_to "Start a new project", new_project_path, class:"btn btn-secondary mx-3"%>
    </div>
  </div>
</div>
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
  </div>
</div>
    <div class="container my-5">
      <h2 class="text-center mb-3">My Dashboard</h2>
      <div class="row my-4">
        <div class="col-xs-6 col-md-4 box-border">
          <div class="btn-box big card-text"><i class="fas fa-edit"></i>
            <b><%= current_user.projects.count %></b>
              <p class="text-muted">Number of Projects</p></div>
        </div>
        <div class="col-xs-6 col-md-4 box-border">
          <div class="btn-box big"><i class="fas fa-user-check"></i>
            <% sum = 0 %>
            <% current_user.projects.each do |project| %>
              <% sum += project.solicitations.where(status:"Pending").count %>
            <% end %>
            <b><%= sum %></b>
              <p class="text-muted">Number of Applications</p></div>
        </div>
        <div class="col-xs-6 col-md-4 box-border">
          <div class="btn-box big"><i class="fas fa-check-square"></i>
            <b><%= current_user.projects.where(status: "completed").count %></b>
              <p class="text-muted">Finished Projects</p></div>
        </div>
      </div>
      <% if current_user.projects.where(status:"assigned").blank? %>
      <%else %>
      <h2 class="text-center my-5">Open Projects</h2>
        <div class="row my-4">
        <% current_user.projects.where(status:"assigned").each do |project| %>
        <div class="card-homepage shadow p-4 mb-5 col-6 justify-content-between absolute">
          <div class="row">
            <div class="col-12 col-md-2 feature-col mt-2">
              <i class="fas fa-laptop-code feature-home"></i>
            </div>
            <div class="col-12 col-md-10">
              <h4><%= link_to "#{project.name}", project_path(project) %></h4>
                <p class="pro">Deadline: <%= project.deadline.strftime("%d-%m-%Y") %></p>
                <p><%= project.description %></p>
                <% solicitation = project.solicitations.find_by(status:"Accepted") %>
                <% if solicitation %>
                <%= link_to "Project updates", solicitation_path(solicitation), class:" absolute-bottom btn btn-outline-primary my-2" %>
                <%end %>
            </div>
          </div>
        </div>
        <%end %>
    </div>
    <% end %>
    <% if current_user.projects.where(status:"published").blank? %>
    <%else %>
    <h2 class="text-center my-5">Project with applications pending</h2>
        <div class="row my-4">
        <% current_user.projects.where(status:"published").each do |project| %>
        <div class="card-homepage shadow p-4 mb-5 col-6 justify-content-between absolute">
          <div class="row">
            <div class="col-12 col-md-2 feature-col mt-2">
              <i class="fas fa-laptop-code feature-home"></i>
            </div>
            <div class="col-12 col-md-10">
              <h4><%= link_to "#{project.name}", project_path(project) %></h4>
                <p class="pro">Deadline: <%= project.deadline.strftime("%d-%m-%Y") %></p>
                <p><%= project.description %></p>
                <% if project.solicitations.length > 0%>
                  <%= link_to "Check Applications (#{project.solicitations.length})", project_solicitations_path(project), class:" absolute-bottom btn btn-outline-primary my-2" %>
                <% else %>
                  <%= link_to "No applications yet", "#", class:"absolute-bottom btn btn-outline-primary my-2 disabled" %>
                <% end %>
            </div>
          </div>
        </div>
        <%end %>
      </div>
    <% end %>
    <% if current_user.projects.where(status:"confirmed").blank? %>
    <%else %>
    <h2 class="text-center my-5">Finished Projects</h2>
        <div class="row my-4">
        <% current_user.projects.where(status:"confirmed").each do |project| %>
        <div class="card-homepage shadow p-4 mb-5 col-6 justify-content-between absolute">
          <div class="row">
            <div class="col-12 col-md-2 feature-col mt-2">
              <i class="fas fa-laptop-code feature-home"></i>
            </div>
            <div class="col-12 col-md-10">
              <h4><%= link_to "#{project.name}", project_path(project) %></h4>
                <p class="pro"><%= project.deadline- Time.now.to_date %></p>

                <p><%= project.description %></p>
                <%= link_to "Project updates", solicitation_path(project), class:" absolute-bottom btn btn-outline-primary my-2" %>
            </div>
          </div>
        </div>
        <%end %>
    </div>
  <% end %>
  <% if current_user.projects.where(status:"general_info").blank? && %>
  <% current_user.projects.where(status:"page_stage").blank? && %>
  <% current_user.projects.where(status:"feature_stage").blank? %>
    <%else %>
    <h2 class="text-center my-5">Unpublished projects</h2>
        <div class="row my-4">
        <% current_user.projects.where(status:"general_info").each do |project| %>
        <div class="card-homepage shadow p-4 mb-5 col-6 justify-content-between absolute">
          <div class="row">
            <div class="col-12 col-md-2 feature-col mt-2">
              <i class="fas fa-laptop-code feature-home"></i>
            </div>
            <div class="col-12 col-md-10">
              <h4><%= link_to "Draft #{project.name}", project_path(project) %>
                <%= link_to "   ", project_path(project),method: :delete, data: { confirm: "Are you sure you want to delete this draft?" }, class:"far fa-trash-alt grey-bin"%></h4>
                <p class="pro">Deadline: <%= project.deadline.strftime("%d-%m-%Y") %></p>

                <p><%= project.description %></p>
                <%= link_to "Finish project", project_path(project), class:" absolute-bottom btn btn-outline-primary my-2" %>
            </div>
          </div>
        </div>
        <%end %>
        <% current_user.projects.where(status:"page_stage").each do |project| %>
        <div class="card-homepage shadow p-4 mb-5 col-6 justify-content-between absolute">
          <div class="row">
            <div class="col-12 col-md-2 feature-col mt-2">
              <i class="fas fa-laptop-code feature-home"></i>
            </div>
            <div class="col-12 col-md-10">
              <h4><%= link_to "Draft #{project.name}", project_path(project) %></h4>
              <%= link_to "   ", project_path(project),method: :delete, data: { confirm: "Are you sure you want to delete this draft?" }, class:"far fa-trash-alt grey-bin"%></h4>
                <p class="pro">Deadline: <%= project.deadline.strftime("%d-%m-%Y") %></p>

                <p><%= project.description %></p>
                <%= link_to "Finish project", project_path(project), class:" absolute-bottom btn btn-outline-primary my-2" %>
            </div>
          </div>
        </div>
        <%end %>
        <% current_user.projects.where(status:"feature_stage").each do |project| %>
        <div class="card-homepage shadow p-4 mb-5 col-6 justify-content-between absolute">
          <div class="row">
            <div class="col-12 col-md-2 feature-col mt-2">
              <i class="fas fa-laptop-code feature-home"></i>
            </div>
            <div class="col-12 col-md-10">
              <h4><%= link_to "Draft #{project.name}", project_path(project) %></h4>
              <%= link_to "   ", project_path(project),method: :delete, data: { confirm: "Are you sure you want to delete this draft?" }, class:"far fa-trash-alt grey-bin"%></h4>
                <p class="pro">Deadline: <%= project.deadline.strftime("%d-%m-%Y") %></p>

                <p><%= project.description %></p>
                <%= link_to "Finish project", project_path(project), class:" absolute-bottom btn btn-outline-primary my-2" %>
            </div>
          </div>
        </div>
        <%end %>
      </div>
    <% end %>
</div>

</footer>
   </a>

<div class="footer" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('<%= image_path "Banner6.png" %>');">
  <div class="container d-flex align-items-center flex-column">
    <div class="footer">

      <p>Website made with <i class="far fa-heart"></i> by
      <a href="https://github.com/louisdemof" target="_blank">Louis de Moffarts</a>,
      <a href="https://github.com/Lennertgova" target="_blank">Lennert Govaerts</a>,
      <a href="https://github.com/kristinger"target="_blank">Kristin Gerlach</a> &
      <a href="https://github.com/mailysrenson" target="_blank">Maïlys Renson</a>
      </p>
    </div>
  </div>
</div>
