<% if current_user %>
  <% if current_user.student %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
      <div class="container d-flex align-items-center flex-column">
        <h1>Hi <%= current_user.first_name %>!</h1>
        <% random_welcome = ["Today is the perfect day to improve your coding skills", "We hope you are having a wonderful day",
        "Why don't you find a new project to work on?", "Believe you can and you're halfway there", "Today is the first day of the rest of your life"].sample %>
        <p><%= random_welcome %></p>
        <div class="d-flex">
          <%= link_to "Browse projects", "#", class:"btn btn-primary mx-3"%>
          <%= link_to "My dashboard", "#", class:"btn btn-primary mx-3" %>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2>All projects on the platform</h2>
      <ul>
        <% @projects.each do |project| %>
          <li><%= link_to project.name, project_path(project) %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
      <div class="container d-flex align-items-center flex-column">
        <h1>Hi <%= current_user.first_name %>!</h1>
        <% random_welcome = ["Today is the perfect day to launch your new project", "We hope you are having a wonderful day",
        "Why don't you start a new project?", "Believe you can and you're halfway there", "Today is the first day of the rest of your life"].sample %>
        <p><%= random_welcome %></p>
        <div class="d-flex">
          <%= link_to "Start a new project", new_project_path, class:"btn btn-primary mx-3"%>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <h2 class="text-center mb-3">Your projects</h2>
      <div class="row">
        <% unless current_user.projects.empty?%>
          <% current_user.projects.each do |project| %>
            <div class="card my-2 col-3 offset-1">
              <div class="card-header">
                <h4><%= project.name %></h4>
              </div>
              <div class="card-body">
                <p class="card-text"><%= project.description%></p>
                <% if project.status == "published"%>
                  <p class="card-text btn-border-success">Project open for applications</p>
                  <%= link_to "See applications", "#", class:"btn btn-primary"%>
                  <%= link_to "Project details", project_path(project), class:"btn btn-outline-primary my-2" %>
                <% elsif project.status == "assigned" %>
                  <p class="card-text btn-border-success">Project assigned to ...</p>
                  <%= link_to "Go to dashboard", "#", class:"btn btn-primary"%>
                  <%= link_to "Project details", project_path(project), class:"btn btn-outline-primary my-2" %>
                <% elsif project.status == "closed"%>
                  <p class="card-text btn-border-success">Project closed</p>
                  <%= link_to "See details", "#", class:"btn btn-outline-primary"%>
                <% elsif project.status == "general-info" %>
                  <p class="card-text btn-border-success">Only 3 steps to finish your project</p>
                  <%= link_to "Finish project", project_path(project), class:"btn btn-danger my-2"%>
                  <%= link_to "Delete draft", 
                  project_path(project),
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this draft?" },
                  class:"btn btn-outline-danger" %>
                <% elsif project.status == "page_stage" %>
                  <p class="card-text btn-border-success">Only 2 steps to finish your project</p>
                  <%= link_to "Finish project", project_path(project), class:"btn btn-danger my-2"%>
                  <%= link_to "Delete draft", 
                  project_path(project),
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this draft?" },
                  class:"btn btn-outline-danger" %>
                <% elsif project.status == "feature_stage" %>
                  <p class="card-text btn-border-success">Only 1 step left to finish your project</p>
                  <%= link_to "Finish project", project_path(project), class:"btn btn-danger my-2"%>
                  <%= link_to "Delete draft", 
                  project_path(project),
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this draft?" },
                  class:"btn btn-outline-danger" %>
                <% else %>
                  <p class="card-text btn-border-success">Problem here</p>
                <% end %>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>  
    </div>
    <%end%>
      

<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
  <div class="container d-flex align-items-center flex-column">
    <h1>Konnected brings <strong>tech alumni</strong> to <strong>small companies</strong>!</h1>
    <p>No need to invest huge amounts to develop your project.</p>
    <div class="d-flex">
      <form method="GET" action="/users/sign_up">
        <input type="hidden" id="custId" name="student" value="false">
        <button type="submit" class="btn btn-primary mx-3">
          Start your project
        </button>
      </form>
      <form method="GET" action="/users/sign_up">
        <input type="hidden" id="custId" name="student" value="true" >
        <button type="submit" class="btn btn-outline-light mx-3">
          Register as student
        </button>
      </form>
    </div>
  </div>
</div>
<% end %>

