<% if current_user %>
  <% if current_user.student %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
      <div class="container d-flex align-items-center flex-column">
        <h1>Hi <%= current_user.first_name %>!</h1>
        <% random_welcome = ["Today is the perfect day to improve your coding skills", "We hope you are having a wonderful day",
        "Why don't you find a new project to work on?", "Believe you can and you're halfway there", "Today is the first day of the rest of your life"].sample %>
        <p><%= random_welcome %></p>
        <div class="d-flex">
          <%= link_to "Browse projects", "#", class:"btn btn-primary mx-3"%>
          <%= link_to "My dashboard", "#", class:"btn btn-primary mx-3" %>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2>Latest projects on the platform</h2>
      <ul>
        <% @projects.last(3).each do |project| %>
          <li><%= project.name %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
      <div class="container d-flex align-items-center flex-column">
        <h1>Hi <%= current_user.first_name %>!</h1>
        <% random_welcome = ["Today is the perfect day to launch your new project", "We hope you are having a wonderful day",
        "Why don't you start a new project?", "Believe you can and you're halfway there", "Today is the first day of the rest of your life"].sample %>
        <p><%= random_welcome %></p>
        <div class="d-flex">
          <%= link_to "Start a project", new_project_path, class:"btn btn-primary mx-3"%>
          <%= link_to "My dashboard", "#", class:"btn btn-primary mx-3" %>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2>Your projects</h2>
      <ul>
        <% unless current_user.projects.empty?%>
          <% current_user.projects.each do |project| %>
            <li><%= project.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

  <% end %>
<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
  <div class="container d-flex align-items-center flex-column">
    <h1>Konnected brings <strong>tech alumni</strong> to <strong>small companies</strong>!</h1>
    <p>No need to invest huge amounts to develop your project.</p>
    <div class="d-flex">
      <form method="GET" action="/users/sign_up">
        <input type="hidden" id="custId" name="student" value="false">
        <button type="submit" class="btn btn-primary mx-3">
          Start your project
        </button>
      </form>
      <form method="GET" action="/users/sign_up">
        <input type="hidden" id="custId" name="student" value="true" >
        <button type="submit" class="btn btn-outline-light mx-3">
          Register as student
        </button>
      </form>
    </div>
  </div>
</div>
<% end %>

