<% if current_user %>
  <% if current_user.student %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
      <div class="container d-flex align-items-center flex-column">
        <h1>Hi <%= current_user.first_name %>!</h1>
        <% random_welcome = ["Today is the perfect day to improve your coding skills", "We hope you are having a wonderful day",
        "Why don't you find a new project to work on?", "Believe you can and you're halfway there", "Today is the first day of the rest of your life"].sample %>
        <p><%= random_welcome %></p>
        <div class="d-flex">
          <%= link_to "Browse projects", "#", class:"btn btn-primary mx-3"%>
          <%= link_to "My dashboard", "#", class:"btn btn-primary mx-3" %>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2>All projects on the platform</h2>
      <ul>
        <% @projects.each do |project| %>
          <li><%= link_to project.name, project_path(project) %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= render 'pages/signed_in'%>
  <% end %>
<% else %>
  <%= render 'pages/not_signed_in'%>
<% end %>

