<% if current_user %>
  <% if current_user.student %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.jpg" %>');">
      <div class="container d-flex align-items-center flex-column">
        <h1>Hi <%= current_user.first_name %>!</h1>
        <% random_welcome = ["Today is the perfect day to improve your coding skills", "We hope you are having a wonderful day",
        "Why don't you find a new project to work on?", "Believe you can and you're halfway there", "Today is the first day of the rest of your life"].sample %>
        <p><%= random_welcome %></p>
        <div class="d-flex">
          <%= link_to "Browse projects", "#", class:"btn btn-primary mx-3"%>
          <%= link_to "My dashboard", "#", class:"btn btn-primary mx-3" %>
        </div>
      </div>
    </div>

    <section class="content-area">
      <div class="container mt-5">
        <h1>Dashboard</h1>
        <p>Here's a summary of your projects</p>
      </div>


        <div class="row">
          <% current_user.solicitations.where(status: "Accepted").each do |solicitation| %>
            <div class="card my-2 col-3 offset-1">
              <div class="card-header">
                <h4>Current project</h4>
              </div>

              <div class="card-body">
                <p class="card-text">basic landing page</p>
                  <p class="card-text btn-border-success">Continue your work</p>
                  <%= link_to "Continue to project", project_path(solicitation.project), class: "btn btn-danger my-2"%>
              </div>
            </div>
          <%end%>
            <% current_user.solicitations.where(status: "Pending").each do |solicitation| %>
            <div class="card my-2 col-3 offset-1">
              <div class="card-header">
                <h4>Current applications</h4>
              </div>

              <div class="card-body">
                <p class="card-text">home page</p>
                  <p class="card-text btn-border-success"><%=solicitation.status%></p>
                  <%= link_to "Continue to project", project_path(solicitation.project), class: "btn btn-danger my-2"%>
              </div>
            </div>
          <%end%>
          </div>
        </div>


    <div class="container mt-5">
      <h2>Projects that may be of interested to you</h2>
      <ul>
          <% @projects.each do |project| %>
          <% if project.level == current_user.level&&project.status == "published"%>
            <li><%= link_to project.name, project_path(project) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= render 'pages/signed_in'%>
  <% end %>
<% else %>
  <%= render 'pages/not_signed_in'%>
<% end %>

