<div class="progress" style='height: 30px'>
  <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Add pages to your project</div>
  <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Add features to your project</div>
  <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Confirm your project</div>
</div>

<div class="container mt-4">
  <div class="row row-cols-2 justify-content-md-center">
    <div clas="col-8 mt-4">
      <div class="card border-success mt-4">
        <div class="card-header bg-transparent border-success">
          <h1 class="my-3">SELECT FEATURES</h1>
        </div>
          <div class="card-body text-success">
            <%= simple_form_for(@project) do |f| %>
              <input type="hidden" name="project[status]" value="feature_stage">
              <%= f.association :features, as: :check_boxes %>
              <div class="card-footer bg-transparent border-success">
                <%= f.submit %>
              </div>
            <% end %>
<!-- Code necessary for the javascript insert_pages -->
            <% @features.each do |feature| %>
              <div id="<%=feature.id%>" class="d-none" data-name="<%= feature.name %>">
                <%= feature.amount_cents %>
              </div>
            <%end%>
<!-- // -->
          </div>
        </div>
      </div>
    <div class="col-4 mt-4">
      <div>
        <ul class="list-group" id="cart2">
          <li class="list-group-item list-group-item-primary w-100"> SHOPPING CART </li>
          <li class="list-group-item list-group-item-dark"> Pricing pages </li>
          <li class="list-group-item list-group-item-light">
            <% @project_pages = @project.pages %>
              <% @project_pages.each do |page| %>
              <%= page.name %> : <%= page.amount_cents/100 %> euro
            <% end %>
          </li>
          <li class="list-group-item list-group-item-dark"> Pricing features </li>
          <li class="list-group-item list-group-item-light" id="feature-list"></li>
          <li class="list-group-item list-group-item-success w-100">
            <h3> Total cost: <span id="total" data-total="<%= @project.total_price / 100 %>"><%= @project.total_price / 100 %></span> euro</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
