<div class="container my-5">
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/projects/<%=@project.id%>/edit">General information</a>
      </li>
      <li class="nav-item">
        <%= link_to "Add pages", project_path(@project, params: { project: { status: "general_info" } }), method: :put, remote: true, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add features", project_path(@project, params: { project: { status: "page_stage" } }), method: :put, remote: true, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Confirm</a>
      </li>
    </ul>
  </div>
  <div class="p-5">
    <h1 class="my-3">Select the different pages you need for your project</h1>
    <%= simple_form_for(@project) do |f| %>
      <input type="hidden" name="project[status]" value="page_stage">
      <%= f.association :pages, as: :check_boxes %>
      <%= f.submit %>
    <% end %>
    <h3> Total cost <span id="total" data-total="<%= @project.total_price %>">0</span> euro</h3>
    <% @pages.each do |page| %>
      <div id="<%=page.id%>" class="d-none">
        <%= page.amount_cents %>
      </div>
    <% end %>
  </div>
</div>
