
<!-- In order to go through the different page of the project creation -->
<% @status = @project.status %>
<% case @status %>
<% when "general_info"%>
  <%= render "page_stage" %>
<% when "page_stage"%>
  <%= render "feature_stage" %>
<% when "feature_stage"%>
  <%= render "confirmation_stage" %>
<% else %>
  <% if current_user.student %>
    <!-- Actual project show page -->
    <div class="container">
    <h1 class="mt-3">Project details:</h1>
      <div class="row">
        <div class="col-sm-12 col-lg-8 bg-white my-3 p-3">
        <h3 class="underlined"><%=@project.name %></h3>
        <h5 class="mt-3"><%=@project.level.definition %></h5>
        <p id="time_update">Posted <%= ((Time.now - @project.created_at)/3600).round%><%= ' hour'.pluralize(1) %> ago</p>
        <h5>Project description:</h5>
        <p><%= @project.description %></p>
          <div class="row rounded my-2 py-3 card-shadow height">
            <div class="col-sm  rounded px-3 small_card">
              Total of x hours
            </div>
            <div class="col-sm  rounded px-3 small_card">
              Project length
            </div>
            <div class="col-sm  rounded px-3 small_card">
             <%= @project.level.name %>
            </div>
          </div>
          <h5>Project features:</h5>
          <div class="flex">
            <% @project.features.each do |features| %>
              <div class="flexbox feature_box"><%=features.name%></div>
            <% end %>
          </div>
          <h5>Project pages:</h5>
          <div class="flex">
            <% @project.pages.each do |page| %>
              <div class="flexbox feature_box"><%=page.name%></div>
            <% end %>
          </div>
          <h5>Skills and Expertise:</h5>
          <p>Add the skills requested for the student here</p>
          <h5>Pictures: </h5>
          <!-- Carousel -->
          <div class="col-10 offset-1 d-flex justify-content-center my-3">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
              <% @project.photos.each_with_index do |photo, index|%>
                <% if index == 0 %>
                  <div class="carousel-item active" data-slide-to="<%= index %>">
                    <%= cl_image_tag photo.key, class: "d-block w-100 rounded"%>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, class: "d-block w-100 rounded"%>
                  </div>
                <% end %>
              <% end %>
              </div>
              <a class="carousel-control-prev primary-color" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        <!-- Carousel end -->
          <h5>Files:</h5>
          <div class="flex my-3">
            <%@project.attachments.each do |attachment| %>
              <div class="d-flex align-items-center justify-content-center flex-column mx-2">
                <%= link_to rails_blob_path(attachment, disposition: "attachment"), target: "_blank" do %>
                <i class="fas fa-file-download fa-2x"></i>
                <% end %>
              <p id="time_update" class="text-center"=><%= attachment.filename %></p>
              </div>
            <% end %>
          </div>
          <h5>Similar jobs on Konnected</h5>
          <p>Some projects here</p>
        </div>
      <div class="col-sm-12 col-lg-4">
        <div class="bg-white text-center my-3 p-3">
        <h4 class="text-center">Contact the project owner</h4>
        <hr>
        <h5 class="text-center"><%= @project.user.first_name %> <%=@project.user.last_name%></h5>
        <p class="text-center mt-3">Phone: <%=@project.user.phone_number %> </p>
        <p class="text-center">Email: <%= mail_to @project.user.email, @project.user.email %></p>

        <!--Add if statement here for if the student level is equal to the project level otherwise disable the button-->

        <% if @project.status == "assigned" %>
          <button class="btn btn-secondary text-center" disabled>This project has allready been assigned</button>
        <%elsif @project.status == "confirmed" || @project.status =="inspection" %>
          <button class="btn btn-secondary text-center" disabled>This project is closed</button>
        <%elsif @project.status == "published" && @project.level == current_user.level%>
          <%= link_to "Apply for this project", new_project_solicitation_path(@project), class:"btn btn-primary text-center"%>
        <% else %>
          <button class="btn btn-secondary" disabled>You can't apply for this project yet</button>
        <% end %>
        </div>
        <div class="bg-white my-3 p-3">
        <h4 class="text-center">About the employer</h4>
        <hr>
        <h5 class="text-center"><%= @project.user.company_name %></h5>
        <p class="text-center">Location: <%=@project.user.address %> </p>
        <p class="text-center">Projects completed: <%=rand(1..20) %> </p>
        <p class="text-center">Member since: <%=@project.user.created_at.strftime("%d of %B, %Y")%> </p>
        <p class="text-center bold">Average rating: <span class="primary-color bold"><%= "★" * rand(2..5).to_i%></span></p>
        <p class="text-center success-color success_box bold width 100%"> VERIFIED </p>
      </div>
    </div>
  </div>

      <!-- If a company is looking at the page -->
  <%else %>
      <div class="container">
      <h1 class="mt-3">Project details:</h1>
        <div class="row">
          <div class="col-sm-12 col-lg-8 bg-white my-3 p-3">
          <h3 class="underlined"><%=@project.name %></h3>
          <p id="time_update" class="mt-3">Posted <%= ((Time.now - @project.created_at)/3600).round%><%= ' hour'.pluralize(1) %> ago</p>
          <h5>Project description:</h5>
          <p><%= @project.description %></p>
          <h5>Project pages:</h5>
            <div class="flex">
            <% @project.pages.each do |page| %>
                <div class="flexbox feature_box"><%=page.name%></div>
            <% end %>
            </div>
          <h5>Project features:</h5>
            <div class="flex">
            <% @project.features.each do |features| %>
              <div class="flexbox feature_box"><%=features.name%></div>
            <% end %>
            </div>
          <h5>Pictures: </h5>
          <!-- Carousel -->
          <div class="col-10 offset-1 d-flex justify-content-center my-3">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
              <% @project.photos.each_with_index do |photo, index|%>
                <% if index == 0 %>
                  <div class="carousel-item active" data-slide-to="<%= index %>">
                    <%= cl_image_tag photo.key, class: "d-block w-100 rounded"%>
                  </div>
                <% else %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, class: "d-block w-100 rounded"%>
                  </div>
                <% end %>
              <% end %>
              </div>
              <a class="carousel-control-prev primary-color" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        <!-- Carousel end -->
          <h5>Files:</h5>
            <div class="flex my-3">
            <%@project.attachments.each do |attachment| %>
              <div class="d-flex align-items-center justify-content-center flex-column mx-2">
                <%= link_to rails_blob_path(attachment, disposition: "attachment"), target: "_blank" do %>
                <i class="fas fa-file-download fa-2x"></i>
                <% end %>
                <p id="time_update" class="text-center"=><%= attachment.filename %></p>
                </div>
            <% end %>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            <div class="bg-white my-3 p-3 text-center">
            <h4 class="text-center"><%= @project.name %></h4>
            <hr>
            <h5 class="text-center primary-color"><%= @project.user.company_name %></h5>
            <p class="text-center"><%= @project.user.first_name %> <%=@project.user.last_name%></p>
            <p class="text-center mt-3">Phone: <%=@project.user.phone_number %> </p>
            <p class="text-center">Email: <%= mail_to @project.user.email, @project.user.email %></p>

          <!--Add if statement here for if the company project is confirmed and add a link to the dasboard-->
            <% if @project.status == "confirmed" && current_user.id == @project.user_id%>
            <%= link_to "Go to your dashboard", solicitation_path(@solicitation), class:"btn btn-primary text-center"%>
            <%elsif @project.status != "confirmed" && current_user.id == @project.user_id%>
              <%= link_to "Check current solicitations", project_solicitations_path(@project), class:"btn btn-primary text-center"%>
-            <%else %>
            <button class="btn btn-secondary text-center" disabled>You can't access this project</button>
            <% end %>
            </div>
            <div class="bg-white my-3 p-3">
            <h4 class="text-center">About the student</h4>
            <hr>
            <p class="text-center">Name: </p>
            <p class="text-center">Phone: </p>
            <p class="text-center">Email: </p>
            <p class="text-center">Location:</p>
            <p class="text-center">Projects completed: </p>
            <p class="text-center">Member since: <%=@project.user.created_at.strftime("%d of %B, %Y")%> </p>
            <p class="text-center bold">Average rating: <span class="primary-color bold">★★★★</span></p>
            <p class="text-center success-color success_box bold width 100%"> VERIFIED </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end %>
<% end %>
