
<!-- In order to go through the different page of the project creation -->
<% @status = @project.status %>
<% case @status %>
<% when "general_info"%>
  <%= render "page_stage" %>
<% when "page_stage"%>
  <%= render "feature_stage" %>
<% when "feature_stage"%>
  <%= render "confirmation_stage" %>
<% else %>

<!-- Actual project show page -->
<div class="container">
<h1 class="mt-3">Project details:</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-8 bg-white my-3 p-3">
    <h3 class="underlined"><%=@project.name %></h3>
    <h5 class="mt-3"><%=@project.level.definition %></h5>
    <p id="time_update">Posted <%= ((Time.now - @project.created_at)/3600).round%><%= ' hour'.pluralize(1) %> ago</p>
    <h5>Project description:</h5>
    <p><%= @project.description %></p>
      <div class="row rounded my-2 py-3 card-shadow height">
        <div class="col-sm  rounded px-3 small_card">
          Total of x hours
        </div>
        <div class="col-sm  rounded px-3 small_card">
          Project length
        </div>
        <div class="col-sm  rounded px-3 small_card">
         <%= @project.level.name %>
        </div>
      </div>
      <h5>Project features:</h5>
      <div class="flex">
      <% @project.features.each do |features| %>
        <div class="flexbox feature_box"><%=features.name%></div>
      <% end %>
      </div>
      <h5>Skills and Expertise:</h5>
      <p>Add the skills requested for the student here</p>
      <h5>Similar jobs on Konnected</h5>
      <p>Some projects here</p>
      <p>Some projects here</p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="bg-white my-3 p-3">
      <h4 class="text-center"><%= @project.name %></h4>
      <div class="text-center"><%=cl_image_tag("DMN_logo.png", :width => 400, :crop => "pad")%></div>
      <p class="text-center"><%= @project.user.email %></p>
      <button class="btn btn-primary text-center">Apply here</button>
      </div>
      <div class="bg-white my-3 p-3">
      <h4 class="text-center">About the employer</h4>
      <p class="text-center">Location: </p>
      <p class="text-center">Projects completed: </p>
      <p class="text-center bold">Average rating: <span class="primary-color bold">★★★★</span></p>
      <p class="text-center success-color success_box bold width 100%"> VERIFIED </p>
      </div>
    </div>
  </div>
</div>
<% end %>

