
<!-- In order to go through the different page of the project creation -->
<% @status = @project.status %>
<% case @status %>
<% when "general_info"%>
  <%= render "page_stage" %>
<% when "page_stage"%>
  <%= render "feature_stage" %>
<% when "feature_stage"%>
  <%= render "confirmation_stage" %>
<% else %>

<!-- Actual project show page -->
<div class="container">
<h1>Project details:</h1>
  <div class="row  py-4 my-3">
    <div class="col-sm-12 col-lg-8 bg-white my-3 p-3">
    <h3><%=@project.name %></h3>
    <h5><%=@project.level.definition %></h5>
    <p>Posted <%= ((Time.now - @project.created_at)/3600).round %> hours ago</p>
    <h5>Project description:</h5>
    <p><%= @project.description %></p>
      <div class="row rounded my-2 py-3 card-shadow height">
        <div class="col-sm bg-white rounded px-3">
          Total of x hours
        </div>
        <div class="col-sm bg-white rounded px-3">
          Project length
        </div>
        <div class="col-sm bg-white rounded px-3">
         <%= @project.level.name %>
        </div>
      </div>
      <h5>Project features:</h5>
      <% @project.features.each do |feature| %>
      <p><%"#{feature.name}"%></p>
      <%end %>
      <h5>Skills and Expertise:</h5>
      <p>Add the skills requested for the student here</p>
      <h5>Similar jobs on Konnected</h5>
    </div>
    <div class="col-sm-12 col-lg-4">
      <div class="bg-white my-3 p-3">
      <h4>About the employer</h4>
      </div>
    </div>
  </div>
</div>
<% end %>

