<div class="container">
  <h2>List of all the solicitations for <%=@project.name%></h2>
  <ul>
    <% @project.solicitations.each do |solicitation| %>
        <%=" #{solicitation.user.first_name} #{solicitation.user.last_name} "%>
        <%=" #{solicitation.comment} "%>
        <%=" #{solicitation.user.created_at.strftime("%d of %B, %Y")} "%>
        <div>
          <%= simple_form_for(solicitation, url: validate_solicitation_path(solicitation), html: {method: :patch}) do |f| %>
            <%= f.button :submit , value: "Accepted", class: "btn btn-success"%>
          <% end %>
        </div>
    <% end %>
  </ul>
</div>
